@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   
}

h2,p{
    margin-left: 30px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 100px;
}

.divisor {
    width: 100%;
    border-bottom: 1px solid #0000002a;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: bold;
    color: #000000;
    font-size: 14px;

}

.form-group input {
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid #E5D5D5;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.281);
    font-size: 14px;
    color: #000000;
}

.form-group #detalhes {
    width: 500px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid #E5D5D5;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
}

.btn {
    width: 130px;
    height: 50px;
    padding: 12px;
    background-color: #003B1B;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 86%;
}

.btn:hover {
    background-color: #005326;
}

/* Estilos para posicionar o iframe */
#iframe {
    position: absolute;
    top: 150px; /* Ajuste conforme necessário */
    right: 100px; /* Ajuste conforme necessário */
    width: 500px;
    height: 680px;
    border: 1px solid #000;
    padding: 0px;
    
}
