@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}


html,
body {
    margin: 0;
    padding-bottom: 10px;
}

h2 {
    font-size: 25pt;
    margin-left: 30px;
}

p {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15pt;
    color: #9e9e9e;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    /* Para acomodar em telas menores */
}

.form-column {
    flex: 1;
    /* Para que as colunas cresçam igualmente */
    min-width: 300px;
    /* Largura mínima das colunas */
    margin-right: 20px;
    /* Espaço entre as colunas */
}

.form-column:last-child {
    margin-right: 0;
    /* Remove o margin da última coluna */
}

.form-group {
    margin-bottom: 30px;
    /* Ajuste o espaçamento entre os inputs */
}

.divisor {
    width: 100%;
    border-bottom: 1px solid #afafaf4a;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: bold;
    color: #000000;
    font-size: 14px;

}

.form-group input {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid #E5D5D5;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.127);
    font-size: 14px;
    color: #000000;
}

.form-group #queixa {
    width: 500px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 1px solid #E5D5D5;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
}

.btn-avaliar {
    width: 130px;
    height: 50px;
    padding: 12px;
    background-color: #003B1B;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-left: 82%;
}

.btn-avaliar:hover {
    background-color: #005326;
}

.btn-salvar {
    width: 130px;
    height: 50px;
    padding: 12px;
    background-color: #003B1B;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 86%;
}

.btn-salvar:hover {
    background-color: #005326;
}

.conduta-result {
    background-color: #e7f3fe;
    border-left: 6px solid #003B1B;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 30px;
    color: #003B1B;
}

.conduta-result p {
    color: #000000;
    margin-top: 20px;
}


/* Estilos para posicionar o iframe */
#iframe {
    display: none;
    position: absolute;
    top: 150px;
    right: 150px;
    width: 500px;
    height: 680px;
    background-color: #F3FFF1;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.507);
    border-radius: 24px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px;

}

/* Estilos para a mensagem de carregamento */

#loading {
    display: none;
    /* Esconde o texto de carregamento inicialmente */
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-top: -500px;
}