@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


body {
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content-conduta {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

h2 {
    font-size: 25pt;
    margin-left: 30px;
}

p {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15pt;
    color: #9e9e9e;
}

.divisor {
    width: 100%;
    border-bottom: 1px solid #afafaf4a;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}

.form-group input {
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E5D5D5;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.127);
    font-size: 14px;
    color: #000000;
}

.btn {
    width: 130px;
    height: 45px;
    padding: 12px;
    background-color: #003B1B;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #005326;
}

.conduta-result {
    background-color: #e7f3fe;
    border-left: 6px solid #003B1B;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 30px;
    color: #003B1B;
}

.conduta-result p {
    color: #000000;
    margin-top: 20px;
}

.not-found {
    color: #d9534f;
    text-align: center;
    margin-top: 20px;
}